{% extends 'base.html' %}
{% block title %} Home {% endblock%}
{% block content %}
<div class="container">
  <h1 style="float: left; margin-right: 40px; padding: 175px 20px;">Explore Yoga</h1>
  <img style="width: 700px; margin-left: 20px;" src="{{ url_for('static', filename='images/lotusflower2.jpg')}}">
  <h4>What is Yoga?</h4>
  <p>Yoga is a mind and body practice. Various styles of yoga combine physical postures, breathing techniques, and
    meditation or relaxation. Yoga is an ancient practice that may have originated in India. It involves movement,
    meditation, and breathing
    techniques to promote mental and physical well-being. There are several types of yoga and many disciplines within
    the practice.</p>

  <h4>History</h4>
  <p>Yoga comes from the Sanskrit word “yuj,” which means “union” or “to join.”
    The overall philosophy of yoga is about connecting the mind, body, and spirit.
    Yoga can be traced back to northern India over 5,000 years ago. Indian monks spread their knowledge of yoga in the
    West during the late 1890s. Modern yoga teachings became widely
    popular in Western countries by the 1970s.</p>

  <h4>Types of Yoga</h4>
  <p>There are many styles of yoga. A person should choose a style based on their goals and fitness level.
  <ul>
    <li>Ashtanga yoga:
      This type of yoga practice uses ancient yoga teachings. However, it became popular during the 1970s.

      Ashtanga applies the same poses and sequences that rapidly link every movement to breath.
    </li>

    <li>Bikram yoga:
      People practice Bikram yoga, also known as hot yoga, in artificially heated rooms at a temperature of nearly 105oF
      and 40% humidity. It consists of 26 poses and a sequence of two breathing exercises.
    </li>
    <li>Hatha yoga:
      This is a generic term for any type of yoga that teaches physical poses. Hatha classes usually serve as a gentle
      introduction to the basic poses of yoga.
    </li>
    <li>Iyengar yoga:
      This type of yoga practice focuses on finding the correct alignment in each pose with the help of a range of
      props,
      such as blocks, blankets, straps, chairs, and bolsters.
    </li>
    <li>Kripalu yoga:
      This type teaches practitioners to know, accept, and learn from the body. A student of Kripalu yoga learns to find
      their own level of practice by looking inward.

      The classes usually begin with breathing exercises and gentle stretches, followed by a series of individual poses
      and final relaxation.
    </li>
    <li>Kundalini yoga:
      Kundalini yoga is a system of meditation that aims to release pent-up energy.

      A Kundalini yoga class typically begins with chanting and ends with singing. In between, it features asana,
      pranayama, and meditation that aim to create a specific outcome.
    </li>
    <li>Power yoga:
      In the late 1980s, practitioners developed this active and athletic type of yoga based on the traditional Ashtanga
      system.
    </li>
    <li>Sivananda:
      This system uses a five point philosophy as its foundation.

      This philosophy maintains that proper breathing, relaxation, diet, exercise, and positive thinking work together
      to
      create a healthy yogic lifestyle.

      People practicing Sivananda use 12 basic asanas, which they precede with Sun Salutations and follow with Savasana.
    </li>
    <li>Viniyoga:
      Viniyoga focuses on form over function, breath and adaptation, repetition and holding, and the art and science of
      sequencing.
    </li>
    <li>Yin yoga:
      Yin yoga places its focus on holding passive poses for long periods of time. This style of yoga targets deep
      tissues, ligaments, joints, bones, and fascia.
    </li>
    <li>Prenatal yoga:
      Prenatal yoga uses poses that practitioners have created with pregnant people in mind. This yoga style can help
      people get back into shape after giving birth, and support health during pregnancy.
    </li>
    <li>Restorative yoga:
      This is a relaxing method of yoga. A person spends a restorative yoga class in four or five simple poses, using
      props such as blankets and bolsters to sink into deep relaxation without exerting any effort when holding the
      pose.
    </li>
  </ul>
  </p>

  <h4>Chakras</h4>
  <p>The word “chakra” means “spinning wheel.” Yoga maintains that chakras are center points of energy, thoughts,
    feelings, and the physical body. According to
    yogic teachers, chakras determine how people experience reality through emotional reactions, desires or aversions,
    levels of confidence or fear, and even physical symptoms and effects. When energy becomes blocked in a chakra, it
    triggers physical, mental, or emotional imbalances that manifest in
    symptoms such as anxiety, lethargy, or poor digestion. Asanas are the many physical poses in Hatha yoga. People who
    practice yoga use asanas to free energy and stimulate
    an imbalanced chakra. There are seven major chakras, each with its own focus:
  <ul>
    <li>Sahasrara: The crown chakra, which is at the crown of the head, symbolizes spiritual connection.
    <li>Ajna: Located between the eyebrows, the third eye chakra has to do with intuition.
    <li>Vishuddha: The throat chakra corresponds to immunity and verbal communication.
    <li>Anahata: The heart chakra, which is in the center of the chest, influences professional and personal
      relationships.
      Any imbalances in this chakra will affect oxygen, hormones, tissue, and organ control.
    <li>Manipura: The solar plexus chakra is in the stomach area. It corresponds to self-confidence, wisdom, and
      self-discipline.
    <li>Svadhishthana: The sacral chakra, which is beneath the belly button, connects pleasure, well-being, and
      vitality.
    <li>Muladhara: The root chakra, which is at the base of the spine, connects the mind and body to the earth to keep a
      person grounded. It controls the sciatic nerves and the parasympathetic nervous system.
  </ul>
  </p>

  <h4>Benefits</h4>
  <p>Yoga has many physical and mental benefits, includingTrusted Source:

    building muscle strength
    enhancing flexibility
    promoting better breathing
    supporting heart health
    helping with treatment for addiction
    reducing stress, anxiety, depression, and chronic pain
    improving sleep
    enhancing overall well-being and quality of life</p>

  <h4>Risks</h4>
  <p>It is rare to incur a serious injury when doing yoga. The most common injuries among people practicing yoga are
    sprains and strains.
    A person who is pregnant or has an ongoing medical condition, such as bone loss, glaucoma, or sciatica, should
    consult a healthcare professional, if possible, before taking up yoga.

    Some people may need to modify or avoid some yoga poses that could be risky given their specific condition.

    Beginners should avoid advanced poses and difficult techniques, such as Headstand, Lotus Pose, and forceful
    breathing.
  </p>
</div>
{% endblock %}